<header>
    <h1 class="tituloPrincipal">PORTAFOLIO DE PROYECTOS</h1>
    <section class="nave">
        <nav class="contenedor">
            <a href="index.html">Biografia</a>
            <a href="contactos.html">Contacto</a>
            <a href="">Proyectos</a>
        </nav>
    </section>
</header>